
</main>
<footer class="site-footer">
    <a href="#top" class="arrow-nav footer__scroll-top">
        <img src="https://isida.wrdv.ru/local/templates/newtime/img/icons/arrow-up.svg" alt="Наверх">
    </a>
    <div class="footer__grid">
        <div class="footer__catalog-group">
            <div class="footer__col footer__col--catalog footer__col--catalog-1">
                <p class="footer__col-title">Каталог</p>
                <ul class="footer__links">
                    <li><a href="/catalog/leginsy/">Легинсы</a></li>
                </ul>
            </div>
            <div class="footer__col footer__col--catalog footer__col--catalog-2">
                <p class="footer__col-title">&nbsp;</p>
                <ul class="footer__links">
                </ul>
            </div>
            <div class="footer__col footer__col--catalog footer__col--catalog-3">
                <p class="footer__col-title">&nbsp;</p>
                <ul class="footer__links">
                </ul>
            </div>
        </div>
        <div class="footer__col footer__col--buyers">
            <p class="footer__col-title">Покупателям</p>
            <ul class="footer__links">
                <li><a href="#">О компании</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Оферта и политика конфиденциальность</a></li>
                <li><a href="#">Пользовательское соглашение</a></li>
            </ul>
        </div>
        <div class="footer__col footer__col--service">
            <p class="footer__col-title">Сервис</p>
            <ul class="footer__links">
                <li><a href="#">Программа лояльности</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <div class="footer__address" style="margin-top: 16px;">
                <div class="footer__address-inner">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/icons/location.svg" alt="">
                    <span>г. Москва, ул. Примерная, д. 41Б, помещ. 3, ком. 9</span>
                </div>
            </div>
            <div class="footer__payments">
                <div class="footer__payments-inner">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/mir.svg" alt="МИР" height="24">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/visa.svg" alt="VISA" height="24">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/mastercard.png" alt="MasterCard" height="24">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/unionpay.png" alt="UnionPay" height="24">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/jcb.png" alt="JCB" height="24">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/amex.png" alt="American Express" height="24">
                </div>
            </div>
        </div>
        <div class="footer__contact">
            <div class="footer__logo">
                <img src="https://isida.wrdv.ru/local/templates/newtime/img/logo/logo.svg" alt="ISIDA">
            </div>
            <div class="footer__phone">
                <a href="tel:+7 916 12 456 78">+7 916 12 456 78</a> </div>
            <div class="footer__hours">
                <span class="footer__hours-time">с 07:00 до 20:00 по МСК</span> <a href="#" class="footer__hours-link">| Связаться с нами</a>
            </div>
            <div class="footer__social">
                <div class="footer__social-inner">
                    <a href="#" class="footer__social-link">
                        <img src="https://isida.wrdv.ru/local/templates/newtime/img/social/telegram.svg" alt="Telegram">
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="https://isida.wrdv.ru/local/templates/newtime/img/social/vk.svg" alt="VK">
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="https://isida.wrdv.ru/local/templates/newtime/img/social/ok.svg" alt="OK">
                    </a>
                </div>
            </div>
            <div class="footer__address footer__address--mobile">
                <div class="footer__address-inner">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/icons/location.svg" alt="">
                    <span>г. Москва, ул. Примерная, д. 41Б, помещ. 3, ком. 9</span>
                </div>
            </div>
            <div class="footer__payments footer__payments--mobile">
                <div class="footer__payments-inner">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/mir.svg" alt="МИР" height="24">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/visa.svg" alt="VISA" height="24">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/mastercard.png" alt="MasterCard" height="24">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/unionpay.png" alt="UnionPay" height="24">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/jcb.png" alt="JCB" height="24">
                    <img src="https://isida.wrdv.ru/local/templates/newtime/img/payments/amex.png" alt="American Express" height="24">
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__copyright">            ©2026 Все права защищены. </div>
        <div class="footer__disclaimer">Вся информация (в том числе цены и сроки и условия проведения акций) носит справочный характер и не является публичной офертой.        </div>
    </div>
</footer>
</div>
<script src="https://isida.wrdv.ru/local/templates/newtime/js/swiper-bundle.min.js"></script>
<script src="https://isida.wrdv.ru/local/templates/newtime/js/main.js"></script>
<script src="js/main.js"></script>
</body>

</html>